// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

// Custom
@import "custom";


// Custom stuff

.link-title {
    margin-left: 10px !important;
}

// Material Icons


@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'GRAD'20,
        'opsz'25;
}


.nav-item.active{
    .nav-link{
        .material-symbols-outlined {
            font-variation-settings:
                'FILL'1 !important;
        }
    }
}
.nav-item:hover{
    .nav-link{
        .material-symbols-outlined {
            font-variation-settings:
                'FILL'1 !important;
        }
    }
}


.bg-alps-primary{
    background-color: #1575bb !important;
    color: white;
}
.bg-alps-warning{
    background-color: #bb7515 !important;
    color: white;
}
.bg-alps-primary{
    background-color: #fff !important;
    color: white;
}
